<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/files.css">
    <title>Archivos</title>
    <script defer src="../static/js/files.js"></script>
</head>
<body>
    <h1>Archivos guardados en el servidor</h1>
    <p>Archivos: </p>
    <div class="input">
        <h2>Abrir archivo</h2>
        <input id="input" type="text">
        <button id="button">Abrir</button>
    </div>
</body>
</html>